<h1>Hello</h1>
<form action="/" method="post">
  <div>
    <label for="year">What year would you like?</label>
    <select name="year" id="year">
      <option>Choose...</option>
      <option>1997</option>
      <option>2010</option>
    </select>
  </div>
  <div>
    <label for="name">What is your name?</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <input type="submit" value="Say hello" />
  </div>
</form>