<html>
  <head><title>HELLO</title></head>
  <body>
    <font size="30">
      <marquee>
        <blink>
          Hello <%= @name %>, it's 1997!
        </blink>
      </marquee>
    </font>
  </body>
</html>